/* /!\ You need to add vendor prefixes in order to render the CSS properly (or simply use http://leaverou.github.io/prefixfree/) /!\ */
#tridiv {
  perspective: 800px;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: transparent;
  
}
.scene,
.shape,
.face,
.face-wrapper,
.cr {
  position: absolute;
  transform-style: preserve-3d;
}
.scene {
  width: 80em;
  height: 80em;
  top: 50%;
  left: 50%;
  margin: -40em 0 0 -40em;
  transform: rotateX(30deg) rotateY(10deg);

}
.shape {
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform-origin: 50%;
}
.face,
.face-wrapper {
  overflow: hidden;
  transform-origin: 0 0;
  backface-visibility: hidden;
}

.shape .face {
  background-color: #ffffff;
}

.face-wrapper .face {
  left: 100%;
  width: 100%;
  height: 100%;
}
.photon-shader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.side {
  left: 50%;
}
.cr,
.cr .side {
  height: 100%;
}
[class*="cuboid"] .ft,
[class*="cuboid"] .bk {
  width: 100%;
  height: 100%;
}
[class*="cuboid"] .bk {
  left: 100%;
}
[class*="cuboid"] .rt {
  transform: rotateY(-90deg) translateX(-50%);
}
[class*="cuboid"] .lt {
  transform: rotateY(90deg) translateX(-50%);
}
[class*="cuboid"] .tp {
  transform: rotateX(90deg) translateY(-50%);
}
[class*="cuboid"] .bm {
  transform: rotateX(-90deg) translateY(-50%);
}
[class*="cuboid"] .lt {
  left: 100%;
}
[class*="cuboid"] .bm {
  top: 100%;
}
/* .cub-1 styles */
.cub-1 {
  transform: translate3D(0em, 0em, 0em) rotateX(0deg) rotateY(-90deg)
    rotateZ(0deg);
  opacity: 1;
  width: 5em;
  height: 5em;
  margin: -2.5em 0 0 -2.5em;
}
.cub-1 .ft {
  transform: translateZ(2.5em);
}
.cub-1 .bk {
  transform: translateZ(-2.5em) rotateY(180deg);
}
.cub-1 .rt,
.cub-1 .lt {
  width: 5em;
  height: 5em;
}
.cub-1 .tp,
.cub-1 .bm {
  width: 5em;
  height: 5em;
}

/* .cub-2 styles */
.cub-2 {
  transform: translate3D(6em, 0em, 0em) rotateX(0deg) rotateY(-90deg)
    rotateZ(0deg);
  opacity: 1;
  width: 5em;
  height: 5em;
  margin: -2.5em 0 0 -2.5em;
}
.cub-2 .ft {
  transform: translateZ(2.5em);
}
.cub-2 .bk {
  transform: translateZ(-2.5em) rotateY(180deg);
}
.cub-2 .rt,
.cub-2 .lt {
  width: 5em;
  height: 5em;
}
.cub-2 .tp,
.cub-2 .bm {
  width: 5em;
  height: 5em;
}

/* .cub-3 styles */
.cub-3 {
  transform: translate3D(0em, -6em, 0em) rotateX(0deg) rotateY(-90deg)
    rotateZ(0deg);
  opacity: 1;
  width: 5em;
  height: 5em;
  margin: -2.5em 0 0 -2.5em;
}
.cub-3 .ft {
  transform: translateZ(2.5em);
}
.cub-3 .bk {
  transform: translateZ(-2.5em) rotateY(180deg);
}
.cub-3 .rt,
.cub-3 .lt {
  width: 5em;
  height: 5em;
}
.cub-3 .tp,
.cub-3 .bm {
  width: 5em;
  height: 5em;
}
