@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --color-gray: 202 202 202;
  }

  .background-grid {
    --color: rgba(255, 255, 255, 0.05);
    --border-width: 0.2px;
    --rows: 50;
    --columns: 50;
    background-image: linear-gradient(
        var(--color) var(--border-width),
        transparent var(--border-width),
        transparent calc(100% - var(--border-width)),
        var(--color) calc(100% - var(--border-width))
      ),
      linear-gradient(
        90deg,
        var(--color) var(--border-width),
        transparent var(--border-width),
        transparent calc(100% - var(--border-width)),
        var(--color) calc(100% - var(--border-width))
      );
    background-size: calc(100% / var(--columns)) calc(100% / var(--rows));
    background-attachment: fixed;
  }

  .padding-6 {
    @apply md:p-6 p-3;
  }
  svg {
    @apply w-[1em] h-[1em];
  }
}
@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
}
